* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto',sans-serif;
}

body {
    background-color: #74c2f0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/empowerherbackgroundpic.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

img {
    height: 70px;
    width: 10px;
    padding: 5px;
    margin: 10px;
    border-radius: 100%;

} 

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #310210;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.login {
    width: 70px;
    border-radius: 50px;
    font-size: 100px;
    padding: auto;
    margin: 10px;
    background-color: blue;
    

}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1 {
    font-size: 55px;
    color: rgb(141, 169, 235);
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: rgb(235, 197, 197);
}

.click-here {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 50px;
    width: 50%;
}

.click-here:hover {
    border: 1px solid rgb(43, 85, 177);
    background: rgb(39, 106, 117);
    transition: 1s;
}

nav .fa{
    display: none;
}

@media (max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
        }
    .nav-links ul li {
        display: block;
    }    
    .nav-links {
        position: absolute;
        background: white;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;

    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

/*------------About Us-------------------*/

.tueng {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}

/*.tueng {
    content: '';
    width: 2px;
    height: 2px;
    background-color: #e44273;
    display: block;
    margin: auto;
    transition: 0.5s;
} */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #b3bcec;
}

/*---- header {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
} 

h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
    background: #fff;
    box-shadow: 0 0 10px rgba(192, 161, 161, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 0.5em;
}

p {
    margin: 0.5em 0;
    color: #555;
}

ul {
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 1em;
}

li {
    margin: 0.5em 0;
    color: #555;
}

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    color: #fff;
    background: #333;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #555;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 600px) {
    header, section, footer {
        padding: 1em;
    }

    h1 {
        font-size: 2em;
    }
}
*/

/*---------Contact Us--------*/


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(3, 20, 88, 0.7)),url(images/aboutaspageimg.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  opacity: 10;
 
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3344dd;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: rgb(100, 96, 96);
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 50px;
  background: rgb(44, 43, 43);
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: black;
}
@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}
.gobackhome {
    color: black;
    font-weight: 600;
}
 
a {
  text-decoration: none;
  color: black;
}

.btn {
  padding: 10px 60px;
  background: black;
  border: 0;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 50px;
}
.popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);

}
.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}